@charset "UTF-8";

:root {
    --color1: #E3FEF7;
    --color2: #7fbbb5;
    --color2h: #77B0AA;
    --color3: #135D66;
    --color4: #003C43;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 95%;
    height: 90%;
    background-color: darkgrey;
    display: grid;
    grid-template-areas: "users chat-history";
    grid-template-columns: 1fr 3fr;
}

.users {
    grid-area: users;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--color2);
}

.user {
    width: 100%;
    height: 70px;
    padding: 0px 15px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.user:hover {
    background-color: lightgray;
}

.user-profile {
    gap: 7px 15px;
    display: grid;
    grid-template-areas: "profile-img nickName" "profile-img last-message";
    align-items: center;
}

.nickName {
    grid-area: nickName;
    font-family: Arial, sans-serif;
}

.last-message {
    grid-area: last-message;
}

.status {
    grid-area: status;
    font-style: italic;
    right: 5%;
    position: absolute;
    /*color: #6b6b6b;*/
}

.OFFLINE {
    color: red; !important;
}

.ONLINE {
    color: lime; !important;
}

.profile-img {
    grid-area: profile-img;
    --size: 40px;
    width: var(--size);
    height: var(--size);
}

.chat-history {
    background-color: var(--color1);
    grid-area: chat-history;
    display: grid;
    grid-template-areas: "head" "body" "foot";
    grid-template-rows: 1fr 8fr 1fr;
    max-height: 640px;
}

.head {
    grid-area: head;
    background-color: var(--color3);

    gap: 7px 15px;
    display: grid;
    grid-template-areas: "profile-img nickName";
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;

    color: white;
}

.body {
    grid-area: body;
    background-color: #f0f0f0;
    padding: 10px;
    overflow-y: scroll;
}

.message {
    margin-bottom: 10px;
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    clear: both;
    overflow-wrap: break-word;
}

.received {
    background-color: #e5e5ea;
    float: left;
}

.sent {
    background-color: #007bff;
    color: white;
    float: right;
}

.foot {
    grid-area: foot;
    background-color: var(--color3);
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.foot input[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.foot button {
    margin-left: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--color2);
    color: white;
    cursor: pointer;
    outline: none;
}

.foot button:hover {
    background-color: var(--color2h);
}

.hidden {
    display: none;
}

#joinForm {
    width: 20%;
}

#joinForm div {
    margin-bottom: 10px;
}

#joinForm label {
    display: block;
    font-size: 1.5rem;
}

#joinForm input[type="text"] {
    width: 100%;
    font-size: 1rem;
    padding: 5px;
}

#joinForm button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
}

#joinForm button:hover {
    background-color: #0056b3;
}

div.current-user {
    gap: 7px 15px;
    display: grid;
    grid-template-areas: "user-details logOut";
    align-items: center;
    justify-content: space-around;
}

div.user-details {
    gap: 7px 15px;
    display: grid;
    grid-template-areas: "profile-img nickName";
    align-items: center;
    justify-content: center;
}

#logOut {
    grid-area: logOut;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    &:hover {
        background-color: #3e8e41;
        cursor: pointer;
    }
}