<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- used for annotation based configuration -->
    <context:component-scan base-package="com.albert.xmlbasedconfig"/>

    <bean id="car" class="com.albert.xmlbasedconfig.model.vehicle.Car"/>
    <bean id="tyre" class="com.albert.xmlbasedconfig.model.tyre.Tyre">
        <property name="brand" value="Chinese"/>
    </bean>

</beans>